#!/usr/bin/env python3
#
# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

import os
import subprocess
import sys

SCRIPT_DIR = os.path.dirname(os.path.realpath(__file__))
BUILDROOT_DIR = os.path.abspath(os.path.join(SCRIPT_DIR, '..', '..'))

def main():
  test_result = subprocess.run(
      '{{run_tests_py_command}}',
      check=False,
      shell=True,
      stdout=subprocess.PIPE,
      stderr=subprocess.STDOUT,
      cwd=BUILDROOT_DIR,
  )
  if test_result.returncode != 0:
    sys.stderr.write(test_result.stdout.decode())
    return 1
  return 0

if __name__ == '__main__':
  sys.exit(main())
